* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: Hind,sans-serif;
}

header {
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 15vh;
    display: flex;
    justify-content: space-between;
}

.logo {
    height: 35%;
    width: 146px;
    margin-top: 30px;
    margin-left: 80px;
}

.menu {
    display: flex;
    margin-top: 30px;
    margin-right: 80px;
}

.menu div {
    margin-right: 10px;
}

.top {
    display: flex;
    border-bottom: 1px solid rgba(180, 180, 180, 0.2);
}

.menu div a {
    text-decoration: none;
    color: white;
}

.bgimage {
    background: url(./img/1920x1080/01.jpg) center center no-repeat;
    background-size: cover;
    width: 100%;
    height: 80vh;
}

.bgimage::before {
    content: " ";
    position: absolute;
    z-index: 1;
    background-color: rgba(81, 87, 105, .4);
    position: absolute;
    width: 100%;
    height: 80vh;
}

.maintext {
    position: absolute;
    text-align: center;
    margin: 15% 10%;
    z-index: 2;
    color: white;
    width: 80%;
}

.maintext h1 {
    font-size: 4em;
}

.maintext h5 {
    margin-top: 10px;
    font-size: 1.5em;
}

.mainbtn {
    margin-top: 25px;
    position: relative;
    cursor: pointer;
    text-align: start;
    padding: 12px;
    width: 20%;
    text-align: end;
    font-weight: 550;
}

.mainbtn:hover {
    background-color: rgb(0, 176, 207);
    border: 0;
    color: white;
}

.mainbtn span {
    position: absolute;
    left: 10px;
}

.second-block {
    width: 100%;
    height: 100vh;
}

.title-products {
    width: 40%;
    margin: 60px auto;
}

.title-products h2 {
    display: block;
    text-align: center;
    color: rgba(21, 22, 27, 0.781);

}

.title-products p {
    display: block;
    text-align: center;
    font-size: 15px;
    font-weight: 400;
    margin-top: 10px;
    color: rgba(81, 87, 105, 0.521)
}

.products {
    display: flex;
    justify-content: space-around;
    width: 90%;
    margin: 30px auto;
}

.products img {
    width: 100%;
}

.product-title {
    display:flex;
    justify-content: space-between;
    width: 80%;
    margin-top: 15px;
    align-items: flex-end;
}

.product {
    margin: 2px;
    width:30%;
}

.product-title h4 {
    color: #515769;
}

.product-title p {
    font-size: 14px;
    font-weight: 400;
    color:  #a6a7aa;
}

.workdiscr {
width:100%;
}

.workdiscr p {
    font-size: 15px;
    font-weight: 400;
    margin-top: 10px;
    color: #a6a7aa;
    }

 .btnmore span {
    font-size: 13px;
    font-weight: 600;
    text-align: start;
    width: 20%;
    bottom: 4px;
    color: #81848f;
 }   

 .btnmore {
    background-color: white;
    left: 125px;
    margin-top: 16.2px;
    margin-bottom: 2px;
    cursor: pointer;
    border: 0;
 }


 .third-block {
    background-color: whitesmoke;
    display: flex;
    width: 100%;
    height: 100vh;
 }

 .photofirst img {
     width: 100%;
     height: 100%;
     margin-right: 70%;
 }

 .photofirst {
     width: 50%;
     height: 70%;
 }

 .photosecond img {
    width: 100%;
    height: 100%;
 }

 .photosecond {
    width: 50%;
    height: 70%;
 }

.fourth-block {
    width: 100%;
    height: 100vh;
    margin-top: -100px;
    background-color: whitesmoke;
}

.blocks {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    height: 100%;
    margin: auto;
    background-color: whitesmoke;
}

.block1 {
    width: 32%;
    background-color: white;
    border: 2px solid whitesmoke ;
}

.block1:nth-child(2) {
    background-color: rgb(93, 219, 250);
}

.artcoding {
   padding: 50px;
}

.artcoding img {
    width: 20%;
    left: 5px;
}

.artcoding h3 {
    font-size: 20px;
    font-weight: 600;
    text-align: start;
    width: 100%;
}

.artcoding p {
    margin-top: 2px;
    text-align: start;
}

.fifth-block {
    width: 100%;
    height: 100vh;
    background-color: whitesmoke;
    position: relative;
}

.displaying {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 80vh;
    bottom: 0%;
    background: url(./img/1920x1080/02.jpg) center center no-repeat fixed;
    background-size: cover;
}

.displaying::before {
    content: " ";
    position: absolute;
    z-index: 1;
    background-color: rgba(81, 87, 105, .4);
    width: 100%;
    height: 80vh;
}

.displaying h1 {
    top: 20%;
    left: 30%;
    font-size: 300%;
    color: white;
    position: absolute;
    z-index: 1;
}

.displaying p {
    left: 10%;
    top: 40%;
    font-size: 150%;
    color: whitesmoke;
    z-index: 1;
    position: absolute;
}

.sixth-block {
    width: 100%;
    height: 100vh;
}

.imgsixth {
    display: flex;
    flex-wrap: wrap;
    width: 96%;
    margin: 10% auto;
    height: 80%;
}

.imgsixth img {
    max-height: 300px;
    padding: 2px;
}

.firstimg {
    width: 60%;
}

.secondimg {
    width: 38.7%;
}

.seven-block {
    position: relative;
    top: 100px;
    width: 100%;
    height: 100vh;
    background-color: whitesmoke;
}

.threebloks {
    display: flex;
    width: 92%;
    margin: auto;
    height: 80vh;
}

.page {
    background-color: white;
    margin-top: 90px;
    height: 80%;
    width: 80%;
}

.page:nth-child(2) {
    margin: 35px 3px 0 3px;
    height: 100%;
}

.wrapper {
    display: flex;
    align-items: flex-end;
    margin: 20px 30px ;
}

.wrapper h3 {
    display: block;
    margin-right: 5px;
}

.wrapper h5 {
    display: block;
    color: #7f838fe0;
    margin-right: 5px;
    margin-left: 5px;
}


.page img {
    width: 15%;
    margin-left: 15px;
    margin-top: 40px;
}

.page p {
    color: #7f838fe0;
    margin-left: 28px;
    margin-right: 40px;
}


.list {
margin-top: 30px;
}


.list p {
    list-style: disc;
    list-style-position: initial;
    color: #7f838fe0;
    margin-top: 4px;
    font-size: 13px;
}

.chance {
    margin-left: 28px;
    margin-top: 25px;
    width: 30%;
    height: 10%;
    border: 0;
}

.eight-block {
    width: 100%;
    height: 80vh;
}


.maintx {
    width: 70%;
    height: 20vh;
    margin-top: 60px;
}

.maintx h2 {
    color: #7f838fe0;
    margin-right: 5px;
    margin-left: 5px;   
}